* {
  box-sizing: border-box;
}

body {
  margin:0px;
  font-family: ‘Merriweather’, Georgia, serif;
  background-color: #946b42;
}

/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid black;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: black;
}

/* Hero Section */
.main-bg {
  background-image: linear-gradient(rgba(0,0,0, .10), rgba(0,0,0, .9)), url('../images/pict1.jfif');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero .container1 {
  height: 50vh;
}

/* About Us */
.aboutus {
  padding:50px;
}

.carousel-item {
  height: 350px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
}

.carousel-caption { 
  bottom: 20%; 
} 

/* Responsive Iframe */
.container-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Products */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Contact Us */
#floatingTextarea1 {
    resize: none;
}
